.nav{ 
    width: 100%;
    padding: 10px;
    box-shadow: 1px 1px 15px #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 19pt;
    font-weight: bold;
    background-color: white;
}

h1{
    color: white;
    font-weight: bold; /* Adjust font weight as needed */
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    background-clip: text;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0,0%,25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0,0%,10%);
}

.navbar li{
    float: left;

}

body{
    padding-top: 100px;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    margin-top: -100px;
    position: fixed;
    color: white;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;

}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    color: white;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

/* Add this to your existing CSS styles */
.sidebar ul li a i {
    margin-right: 8px; /* Adjust the spacing as needed */
}

ul li:hover a{
    padding-left: 50px;

}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: transparent;
    border-radius: 3px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 195px;
}

#title{
    padding: 10px;
    width: 90%;
    margin: 20px;
}

#note{
    margin: 20px;
    width: 94%;
}

.btn{
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 20px;
    width: 150px;
    text-align: center;
}


.list_ele{
    margin: 20px;
    padding: 10px;
    box-shadow: 1px 1px 15px black;
    
}


